@page {
  size: A4;
  margin: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }

  .every-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always !important;
  }
  #editor {
    margin-top: 0;
  }
  .no-border {
    border: 0px;
  }
  .no-padding {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 480px) {
  .no-border {
    border: 0px !important;
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
